<div style="text-align: center">
  <h1>
    Welcome to demo socket
  </h1>
  <div class = "chat-container">
    <div class = "chat" #innerHTML id = "box">
      <div class="message"></div>
    </div>
  </div>
</div>

<div class ="footer">
  <div class ="send-button">

    <div class = "send">
    </div>
    <input id="input" type="text" (keyup.enter)="sendMessage()" [(ngModel)]="message">
  </div>
</div>
